<!DOCTYPE html>
<head>
    <% include ../layouts/head-client %>
</head>
<body>
    <header>
        <div>
            <a href="/admin">Daftar Soal</a> | 
            <a href="/admin/add">Tambahkan Soal Baru</a> | 
        </div>    
        <h1><%= title %></h1>
    </header>
    <main>
         
        <form action="/admin/edit/<%= soal_id %>" method="post" name="form1">
            <table width="25%" border="0">
                <tr> 
                    <td>Soal</td> 
                    <td><textarea name="soal_ajkuiz" id="soal_ajkuiz" rows="3" cols="40"><%= soal_ajkuiz %></textarea></td>
                </tr>
                <tr> 
                    <td>Opsi A</td>
                    <td><textarea name="opsiA_ajkuiz" id="opsiA_ajkuiz" rows="3" cols="40"><%= opsiA_ajkuiz %></textarea></td>
                </tr>
                <tr> 
                    <td>Opsi B</td>
                    <td><textarea name="opsiB_ajkuiz" id="opsiB_ajkuiz" rows="3" cols="40"><%= opsiB_ajkuiz %></textarea></td>
                </tr>
                <tr> 
                    <td>Opsi C</td>
                    <td><textarea name="opsiC_ajkuiz" id="opsiC_ajkuiz" rows="3" cols="40"><%= opsiC_ajkuiz %></textarea></td>
                </tr>
                <tr> 
                    <td>Opsi D</td>
                    <td><textarea name="opsiD_ajkuiz" id="opsiD_ajkuiz" rows="3" cols="40"><%= opsiD_ajkuiz %></textarea></td>
                </tr>
                <tr> 
                    <td>Kategori Soal</td>
                    <td><input type="text" name="kategori_ajkuiz" value="<%= kategori_ajkuiz %>" /></td>
                </tr>
                <tr> 
                    <td>Jawaban Soal</td>
                    <td><input type="text" name="jawaban_ajkuiz" value="<%= jawaban_ajkuiz %>" /></td>
                </tr>
                <tr> 
                    <td></td>
                    <td><input type="submit" name="Submit" value="Edit" /></td>
                </tr>
            </table>
            <input type="hidden" name="_method" value="PUT" />
        </form>
        <br>
        <br>
        <br>
        List Kategori:<br>
        <% if (listkategori) { %>
            <% listkategori.forEach(function(soal){ %>
            - <%= soal %> </br>
        <% }) %>
        <% } %>
    </main>
    <footer></footer>
</body>