<!DOCTYPE html>
<head>
    <% include ../layouts/head-client %>
</head>
<body>
    <header>
        <div>
            <a href="/admin" class='button' style="vertical-align:middle" >Daftar Soal</a> | 
            <a href="/admin/add" class='button'style="vertical-align:middle" >Tambahkan Soal Baru</a>  
        </div>    
        <h1 align="right"><%= title %></h1>
    </header>
    <main>   
    <div class="btn-group">
        <table>
            <tr style='text-align:left; background-color:#CCC'>
                <th>No</th>
                <th>Soal AJKuiz</th>
                <th>Opsi A</th>
                <th>Opsi B</th>
                <th>Opsi C</th>
                <th>Opsi D</th>
                <th>Kategori AJKuiz</th>
                <th>Jawaban AJKuiz</th>
                <th colspan="2">Action</th>
            </tr>
            
            <!--
                Using FOREACH LOOP for the users array
                
                myArray.forEach(function(el, index) {
                    // el - current element, i - index
                });
            -->
            <% var no=1 %>
            <% if (res) { %>
            <% res.forEach(function(soal){ %>
                <tr>
                    <td><%= no %><% no++ %></td>
                    <td><%= soal.soal_ajkuiz %></td>
                    <td><%= soal.opsiA_ajkuiz %></td>
                    <td><%= soal.opsiB_ajkuiz %></td>
                    <td><%= soal.opsiC_ajkuiz %></td>
                    <td><%= soal.opsiD_ajkuiz %></td>
                    <td><%= soal.kategori_id %></td>
                    <td><%= soal.jawaban_ajkuiz %></td>
                    <td>
                        <div style="float:left">
                            
                                <a href='/admin/edit/<%= soal.soal_id %>' class="button3">Edit</a> 
                    </td>
                    <td>
                            <form method="post" action="/admin/delete/<%= soal.soal_id %>" style="float:right">
                                <input type="submit" class = "button3" name="delete" value='Delete' onClick="return confirm('Tenan dihapus?')" />
                                <input type="hidden" name="_method" value="DELETE" />
                            </form>
                    </td>
                           
                        </div>
                    </td>
                </tr>
            <% }) %>
            <% } %>
         
        </table>
         </div>
    </main>
    <footer></footer>
</body>